In [1]:
import threading

# Helper thread to avoid the Spark StreamingContext from blocking Jupyter
        
class StreamingThread(threading.Thread):
    def __init__(self, ssc):
        super().__init__()
        self.ssc = ssc
    def run(self):
        self.ssc.start()
        self.ssc.awaitTermination()
    def stop(self):
        print('----- Stopping... this may take a few seconds -----')
        self.ssc.stop(stopSparkContext=False, stopGraceFully=True)

The data is streamed and saved locally.
The saved data had a number of redundant files within collected subfolders of data 
such as files with.crc extension and files titled "_SUCCESS" or "._SUCCESS".
Only files titled "part-00000" and without crc extension are needed for the classification problem. 
Hence, only these files are retained. 
A total of 444 observations were obtained for review data.The collected data has much higher number of positive ratings 
relative to negative ratings. 
The retained files are then converted to a pandas dataframe and then stored locally in csv format.

In [3]:
sc

In [4]:
from pyspark.streaming import StreamingContext

In [5]:
ssc = StreamingContext(sc,1)

In [6]:
lines = ssc.socketTextStream("seppe.net", 7778)

In [7]:
# Change the path below to match yours
lines.saveAsTextFiles("file:///C:/Users/RimJhim/Desktop/spark_instructions/")

In [8]:
ssc_t = StreamingThread(ssc)
ssc_t.start()

In [31]:
# Don't run this cell unless you want to stop
ssc_t.stop()

----- Stopping... this may take a few seconds -----

In [9]:
import pandas as pd
os.chdir("C:/................../spark_instructions")
rootPath="/..................../spark_instructions/"
dirpath="/................../spark_instructions"
import json
d=None

for root,dirs,files in os.walk(rootPath):
    for file in os.scandir(root):
        #if file.is_file(): ##don't need it;still get correct result without it
            #print(file)
        #if str(file).find('part-0000')==1
            if (str(file).find('part')>1) and (str(file).find('crc')==-1):
               df2=pd.DataFrame(pd.read_json(file,lines=True))
               d=pd.concat([d,df2])
               print(d.shape)

(1, 4)
(2, 4)
(3, 4)
(4, 4)
(5, 4)
(6, 4)
(7, 4)
(8, 4)
(9, 4)
(10, 4)
(11, 4)
(12, 4)
(13, 4)
(14, 4)
(15, 4)
(16, 4)
(17, 4)
(18, 4)
(19, 4)
(20, 4)
(21, 4)
(22, 4)
(23, 4)
(24, 4)
(25, 4)
(26, 4)
(27, 4)
(28, 4)
(29, 4)
(30, 4)
(31, 4)
(32, 4)
(33, 4)
(34, 4)
(35, 4)
(36, 4)
(37, 4)
(38, 4)
(39, 4)
(40, 4)
(41, 4)
(42, 4)
(43, 4)
(44, 4)
(45, 4)
(46, 4)
(47, 4)
(48, 4)
(49, 4)
(50, 4)
(51, 4)
(52, 4)
(53, 4)
(54, 4)
(55, 4)
(56, 4)
(57, 4)
(58, 4)
(59, 4)
(60, 4)
(61, 4)
(62, 4)
(63, 4)
(64, 4)
(65, 4)
(66, 4)
(67, 4)
(68, 4)
(69, 4)
(70, 4)
(71, 4)
(72, 4)
(73, 4)
(74, 4)
(75, 4)
(76, 4)
(77, 4)
(78, 4)
(79, 4)
(80, 4)
(81, 4)
(82, 4)
(83, 4)
(84, 4)
(85, 4)
(86, 4)
(87, 4)
(88, 4)
(89, 4)
(90, 4)
(91, 4)
(92, 4)
(93, 4)
(94, 4)
(95, 4)
(96, 4)
(97, 4)
(98, 4)
(99, 4)
(100, 4)
(101, 4)
(102, 4)
(103, 4)
(104, 4)
(105, 4)
(106, 4)
(107, 4)
(108, 4)
(109, 4)
(110, 4)
(111, 4)
(112, 4)
(113, 4)
(114, 4)
(115, 4)
(116, 4)
(117, 4)
(118, 4)
(119, 4)
(120, 4)
(121, 4)
(122, 4)
(123, 4)
(124, 4)
(125, 4)
(126, 4)
(127, 4)
(128, 4)
(129, 4)
(130, 4)
(131, 4)
(132, 4)
(133, 4)
(134, 4)
(135, 4)
(136, 4)
(137, 4)
(138, 4)
(139, 4)
(140, 4)
(141, 4)
(142, 4)
(143, 4)
(144, 4)
(145, 4)
(146, 4)
(147, 4)
(148, 4)
(149, 4)
(150, 4)
(151, 4)
(152, 4)
(153, 4)
(154, 4)
(155, 4)
(156, 4)
(157, 4)
(158, 4)
(159, 4)
(160, 4)
(161, 4)
(162, 4)
(163, 4)
(164, 4)
(165, 4)
(166, 4)
(167, 4)
(168, 4)
(169, 4)
(170, 4)
(171, 4)
(172, 4)
(173, 4)
(174, 4)
(175, 4)
(176, 4)
(177, 4)
(178, 4)
(179, 4)
(180, 4)
(181, 4)
(182, 4)
(183, 4)
(184, 4)
(185, 4)
(186, 4)
(187, 4)
(188, 4)
(189, 4)
(190, 4)
(191, 4)
(192, 4)
(193, 4)
(194, 4)
(195, 4)
(196, 4)
(197, 4)
(198, 4)
(199, 4)
(200, 4)
(201, 4)
(202, 4)
(203, 4)
(204, 4)
(205, 4)
(206, 4)
(207, 4)
(208, 4)
(209, 4)
(210, 4)
(211, 4)
(212, 4)
(213, 4)
(214, 4)
(215, 4)
(216, 4)
(217, 4)
(218, 4)
(219, 4)
(220, 4)
(221, 4)
(222, 4)
(223, 4)
(224, 4)
(225, 4)
(226, 4)
(227, 4)
(228, 4)
(229, 4)
(230, 4)
(231, 4)
(232, 4)
(233, 4)
(234, 4)
(235, 4)
(236, 4)
(237, 4)
(238, 4)
(239, 4)
(240, 4)
(241, 4)
(242, 4)
(243, 4)
(244, 4)
(245, 4)
(246, 4)
(247, 4)
(248, 4)
(249, 4)
(250, 4)
(251, 4)
(252, 4)
(253, 4)
(254, 4)
(255, 4)
(256, 4)
(257, 4)
(258, 4)
(259, 4)
(260, 4)
(261, 4)
(262, 4)
(263, 4)
(264, 4)
(265, 4)
(266, 4)
(267, 4)
(268, 4)
(269, 4)
(270, 4)
(271, 4)
(272, 4)
(273, 4)
(274, 4)
(275, 4)
(276, 4)
(277, 4)
(278, 4)
(279, 4)
(280, 4)
(281, 4)
(282, 4)
(283, 4)
(284, 4)
(285, 4)
(286, 4)
(287, 4)
(288, 4)
(289, 4)
(290, 4)
(291, 4)
(292, 4)
(293, 4)
(294, 4)
(295, 4)
(296, 4)
(297, 4)
(298, 4)
(299, 4)
(300, 4)
(301, 4)
(302, 4)
(303, 4)
(304, 4)
(305, 4)
(306, 4)
(307, 4)
(308, 4)
(309, 4)
(310, 4)
(311, 4)
(312, 4)
(313, 4)
(314, 4)
(315, 4)
(316, 4)
(317, 4)
(318, 4)
(319, 4)
(320, 4)
(321, 4)
(322, 4)
(323, 4)
(324, 4)
(325, 4)
(326, 4)
(327, 4)
(328, 4)
(329, 4)
(330, 4)
(331, 4)
(332, 4)
(333, 4)
(334, 4)
(335, 4)
(336, 4)
(337, 4)
(338, 4)
(339, 4)
(340, 4)
(341, 4)
(342, 4)
(343, 4)
(344, 4)
(345, 4)
(346, 4)
(347, 4)
(348, 4)
(349, 4)
(350, 4)
(351, 4)
(352, 4)
(353, 4)
(354, 4)
(355, 4)
(356, 4)
(357, 4)
(358, 4)
(359, 4)
(360, 4)
(361, 4)
(362, 4)
(363, 4)
(364, 4)
(365, 4)
(366, 4)
(367, 4)
(368, 4)
(369, 4)
(370, 4)
(371, 4)
(372, 4)
(373, 4)
(374, 4)
(375, 4)
(376, 4)
(377, 4)
(378, 4)
(379, 4)
(380, 4)
(381, 4)
(382, 4)
(383, 4)
(384, 4)
(385, 4)
(386, 4)
(387, 4)
(388, 4)
(389, 4)
(390, 4)
(391, 4)
(392, 4)
(393, 4)
(394, 4)
(395, 4)
(396, 4)
(397, 4)
(398, 4)
(399, 4)
(400, 4)
(401, 4)
(402, 4)
(403, 4)
(404, 4)
(405, 4)
(406, 4)
(407, 4)
(408, 4)
(409, 4)
(410, 4)
(411, 4)
(412, 4)
(413, 4)
(414, 4)
(415, 4)
(416, 4)
(417, 4)
(418, 4)
(419, 4)
(420, 4)
(421, 4)
(422, 4)
(423, 4)
(424, 4)
(425, 4)
(426, 4)
(427, 4)
(428, 4)
(429, 4)
(430, 4)
(431, 4)
(432, 4)
(433, 4)
(434, 4)
(435, 4)
(436, 4)
(437, 4)
(438, 4)
(439, 4)
(440, 4)
(441, 4)
(442, 4)
(443, 4)
(444, 4)

In [10]:
d.head()

,review_id,app_id,review_text,label
0,138198607,1277920,although this game still needs some work it ha...,1
0,138198396,1277920,It still is not playable. It has been two wee...,0
0,138235603,1277920,"If they keep at it the way they have so far, t...",1
0,138236287,1669000,Age of Wonders 3 on steroids. \n,1
0,138236059,1669000,Just... one more turn okay,1

In [116]:
d.head()

,review_id,app_id,review_text,label
0,138198607,1277920,although this game still needs some work it ha...,1
0,138198396,1277920,It still is not playable. It has been two wee...,0

In [11]:
d.shape

(444, 4)

In [30]:
d=d[d['review_text'].map(lambda x: x.isascii())] 
d.to_csv('d.csv')

In [16]:
d.groupby(['label']).size()
##data is not well-balanced-need more data

label
0     99
1    345
dtype: int64

In [28]:
d["review_text"]

0    although this game still needs some work it ha...
0    It still is not playable.  It has been two wee...
0    If they keep at it the way they have so far, t...
0                     Age of Wonders 3 on steroids. \n
0                           Just... one more turn okay
                           ...
0    draw peter griffin\nget money.\n\ndidn't get m...
0    Super fun and challenging game, plus we learne...
0    So much fun and so cute! The perfect game not ...
0    A very fun game to play with friends after you...
0                                      JOHNNY THA GOAT
Name: review_text, Length: 444, dtype: object

In [29]:
d.head()

,review_id,app_id,review_text,label
0,138198607,1277920,although this game still needs some work it ha...,1
0,138198396,1277920,It still is not playable. It has been two wee...,0
0,138235603,1277920,"If they keep at it the way they have so far, t...",1
0,138236287,1669000,Age of Wonders 3 on steroids. \n,1
0,138236059,1669000,Just... one more turn okay,1